<% provide(:title, "Home")%>

<div class="center jumbotron">
  <h1>Admine</h1>
  <% if user_signed_in? %>
  <%= render 'static_pages/home_signed_in'%>
  <% else %>
  <%= render 'static_pages/home_not_signed_in'%>
  <% end %>
</div>
