<p>Hi! <%= @resource.email %></p>

<p>we got a request for password reset operation. please check the below</p>

<p><%= link_to 'change my password!', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>if you did not request that , ignore this email.</p>
