<footer class="footer">
  <small>
    Made by Ishii Haruki
  </small>
  <nav>
    <ul>
      <li><%= link_to "ヘルプ", help_path%></li>
      <li><%= link_to "利用規約", rules_path%></li>
      <li><%= link_to "プライバシーポリシー", privacypolicy_path%></li>
    </ul>
  </nav>
</footer>