<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "１円プロジェクト", root_path, id:"logo" %>
    <nav>
      <ul id = "navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><%= link_to "１プロとは？", about_path%></li>
        <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, data:{"turbo-method": :delete}, method: :delete %></li>
          <% if !current_user.activated || true %>
            <li><%= link_to "有効化する", users_activation_path %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>  
  </div>
</header>